
@import 'nib'

normalize-html5()

accent-color = #00a7c2
background-color = #fdfdfd
text-color = #191919
text-color-active = accent-color

small-width = 100%
mobile-width = 100%

*
  box-sizing: border-box
  margin: 0
  padding: 0
  list-style: none

@import './typography.styl'

#no-js
  display: none
  .no-js &
    display: block

#templates
  display: none

.post
  header h1 a
    color: inherit
    &:hover
      text-decoration: inherit
      color: accent-color
  margin-bottom: 4em
  img
    max-width: 100%
  iframe
    width: 100%
    min-height: 30em
  &.full header h1
    margin-bottom: 1em

#posts-nav
  text-align: center
  margin-bottom: 4em
  a
    @extends .h3
    margin: 0 1em
    display: none
    .has-older &.older
      display: inline
    .in-history &.home, .on-post &.home
      display: inline

#posts .loading
  @import './loading.styl'
  size = 6em
  position: absolute
  margin-top: 4em
  width: size
  height: size
  background: accent-color
  border-radius: 50%
  left: 50%
  margin-left: -(size * 0.5)
  transition: 300ms ease-in-out all
  p
    position: absolute
    width: 100%
    text-align: center
    bottom: 0
    margin-bottom: -2.5em
    text-shadow: 0 0 3px white
    white-space: nowrap
    width: 200%
    left: -50%
  .loaded &
    opacity: 0
    visibility: hidden

#posts .loadingmsg
  position: absolute
  margin-top: 2em
  .loaded &
    opacity: 0
    visibility: hidden
