{% extends "layout.html" %}

{% macro link(href, text) -%}
  <a href="{{ href }}" target="_blank">{{ text }}</a>
{%- endmacro %}

{% set lang = setLocale(locale) %}

{% block body %}
  <header id="header">
    <div class="inner clearfix">
      <h1><a href="{{ blog_url }}">{{ author }}</a></h1>

      <ul class="nav">
        <li><a href="{{ base_url }}">My Website</a></li>
      </ul>

    </div>
  </header>

  <section id="content">
    <div class="inner">
      <div id="no-js">
        <p>
          {{ __('This blog is powered by the %s and requires JavaScript to run.',
          link('https://steem.io', __('Steem blockchain'))) }}
        </p>
        <p>
          You can view this blog on <a href="https://steemit.com/@{{username}}">
            Steemit</a>.
        </p>
      </div>
      <section id="posts">
        <div class="loading">
          <p>
            {{ __('Loading...') }}
          </p>
          <div><span></span><span></span><span></span><span></span></div>
        </div>
        <div class="loadingmsg">
        <p>
          {{ __('This blog is powered by the %s and requires JavaScript to run.',
          link('https://steem.io', __('Steem blockchain'))) }}
        </p>
        <p>
          You can view this blog on <a href="https://steemit.com/@{{username}}">
            Steemit</a>.
        </p>
        </div>
      </section>
      <section id="posts-nav">
        <a class="older" href="#">{{ __('Older posts') }}</a>
        <a class="home" href="#">{{ __('Home') }}</a>
      </section>

      <div id="templates">
        <article class="post preview">
          <header>
            <h1><a class="permalink title" href="#" rel="bookmark">Title</a></h1>
            <p class="date">Date</p>
          </header>
          <section class="body"></section>
          <p class="more"><a class="permalink" href="#">{{ __('Read more') }}</a>
        </article>
        <article class="post full">
          <header>
            <h1 class="title">Title</h1>
            <p class="date">Date</p>
          </header>
          <section class="body"></section>
          <p class="steemit">
            <a class="steemitlink" href="#">View this post on SteemIt</a>
          </p>
          <section class="comments"></section>
        </article>
      </div>
    </div>

  </section>

  <footer id="footer">
    <div class="inner">
          {{ contents['about.md'].html }}
          <div style="text-align:center;">
            {{ copyright }} {{ author }} &mdash;
            {# Please leave this, if you must remove it donate a couple of
            steem to @almost-digital and I'll let you do it guilt-free ;) -#}
            {{ __('powered by') }} {{ link('https://github.com/jnordberg/selfsteem', 'SelfSteem') }}
          </div>
    </div>
  </footer>

{% endblock %}
