<!DOCTYPE html>
<!--



                   /
              (   (   (
               \   \   \
                \   \   \
                 )   )   )
                    /

              SelfSteem v{{ release }}
      github.com/jnordberg/selfsteem


-->
<html{% if lang %} lang="{{ lang }}"{% endif %} class="no-js">
<head>
  <meta charset="utf-8">
  <title>{{ title }}</title>
  <meta name="viewport" content="width=device-width">
  <meta name="description" content="{{ description }}">
  <meta name="author" content="{{ author }}">
  <meta property="og:type" content="website">
  <meta property="og:title" content="{{ title }}">
  <meta property="og:description" content="{{ description }}">
  <script type="text/javascript">
    document.documentElement.classList.remove('no-js')
    window.config = {
      locale: '{{ locale }}',
      username: '{{ username }}',
      server: '{{ server }}'
    }
  </script>
  {{ browserifyLibs }}{{ livereloadScript -}}
  <link rel="stylesheet" href="selfsteem.css?v={{ release }}">
  <link rel="stylesheet" href="style.css" type="text/css" />
  <script src="selfsteem.js?v={{ release }}"></script>
</head>
<body>
  {%- block body %}{% endblock -%}
</body>
</html>
